.navigator {
  position: static;
  top: 0;
  display: flex;
  flex: 1;
  background: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #bbb;
  padding: 1.5rem 0;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
}
