.navigator {
  position: static;
  top: 0;
  display: flex;
  flex: 1;
  background: rgba(49, 52, 63, 0.9);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  margin-bottom: 20rem;
  box-shadow: 0 10px 100px black;
  flex-wrap: wrap;
}
