.trade-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2px;
  background: white;
  border-radius: 10px;
  padding: 1px;
  /* justify-content: center; */
  /* padding-bottom: .5rem; */
  transition: all 0.4s ease;
}

label {
  background: #7b829a;
  margin: 0 1rem;
  padding: .5rem;
}

input[type="checkbox"] {
  display: none;
}

.trade-item img {
  transition: all 0.4s ease;
  border-radius: 10px;
}

.trade-item:hover {
  background: #ccc;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.wrapper p {
  text-align: center;
  flex: 1;
}

.container-item img {
  width: 5.5rem;
  /* height: 6.5rem; */
  cursor: pointer;
}

.container-item input {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background: transparent;
}

button {
  color: black;
  border: none;
  margin: 0 1rem;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-filters {
  display: flex;
  flex-wrap: nowrap;
}

label {
  z-index: 10;
}

.active {
  background: red;
}

.btn-filters button {
  cursor: pointer;
  transition: all 0.1s ease;
  outline: none;
}

.btn-filters button:hover {
  background: #aaa;
}

.btn-filters button:active {
  transform: scale(1.1);
}

#root {
  background: #424651 url(https://cdn.discordapp.com/attachments/805910584369217536/806618891219370005/Culo5.png) no-repeat top;
}