.trade-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2px;
  background: white;
  border-radius: 20px;
  padding: 0.5rem;
  padding-bottom: 1rem;
  transition: all 0.4s cubic-bezier(0.165, 1.84, 0.44, 1);
}

.trade-item img {
  transition: all 0.4s cubic-bezier(0.15, 2.8, 1, 1);
  border-radius: 20px;
}

.trade-item:hover img {
  transform: scale(1.1);
}

.trade-item:hover {
  background: #424651;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper p {
  text-align: center;
  flex: 1;
}

.container-item img {
  width: 5rem;
  cursor: pointer;
}

.container-item input {
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background: transparent;
}

button {
  color: black;
  border: none;
  margin: 0 1rem;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn-filters {
  display: flex;
  flex-wrap: nowrap;
}

.btn-filters button {
  cursor: pointer;
  transition: all 0.1s ease;
  outline: none;
}

.btn-filters button:hover {
  background: #aaa;
}

.btn-filters button:active {
  transform: scale(1.1);
}

#root {
  background: #424651 url(https://cdn.discordapp.com/attachments/805910584369217536/806618891219370005/Culo5.png) no-repeat top;
}