.trade-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: .3rem;
  cursor: pointer;
  box-shadow: 0 0 5px black;
  padding: 1px;
  /* justify-content: center; */
  padding-bottom: 1.5rem;
  transition: all 0.4s ease;
}

label {
  background: #7b829a;
  margin: 0 1rem;
  padding: .5rem;
}

input[type="checkbox"] {
  display: none;
}

.trade-item img {
  transition: all 0.2s ease-out;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper p {
  text-align: center;
  flex: 1;
  max-height: 10px;
}

.trade-item img {
  width: 8rem;
  height: 8rem;
}

.input-container input {
  border: none;
  color: #7b829a;
  background: transparent;
  margin-left: 10px;
}

.input-container input::placeholder {
  color: #7b829a;
}

button {
  color: black;
  border: none;
  margin: 0 1rem;
  padding: .5rem 1rem;
  border-radius: 10px;
}

.btn-filters label:last-child,
.btn-filters div:last-child {
  margin-right: 0;
  padding-right: 0;
}

.filters {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

@media(max-width: 1000px) {
  .filters {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: #7b829a;
}

#glass {
  width: 1rem;
  margin-right: 10px;
  margin-bottom: 2.12rem;
  transform: rotate(-90deg);
}

.filters input, .filters label {
  margin-bottom: 2rem;
}

.btn-filters {
  display: flex;
  flex-wrap: nowrap;
}

label {
  width: min-content;
  z-index: 10;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

label:hover {
  color: rgb(0, 174, 255);
}

label.active {
  background: black;
}

.btn-filters button {
  cursor: pointer;
  transition: all 0.1s ease;
  outline: none;
}

.btn-filters button:hover {
  background: #aaa;
}

.input-container input {
  outline: none;
  min-width: 12rem;
}

.btn-filters button:active {
  transform: scale(1.1);
}

#root {
  background: #424651 url(https://cdn.discordapp.com/attachments/805910584369217536/806618891219370005/Culo5.png) no-repeat top;
}