.container-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.container-item {
  margin: 0 5%;
  font-weight: lighter;
  text-decoration: none;
  text-shadow: none;
  padding: 2rem;
  transition: all 0.2s ease;
}

.container-item h1 {
  font-size: 2rem;
}

.item-name {
  color: black;
}

.container {
  margin-top: 20rem;
  margin: 0 5rem;
  padding-top: 2rem;
  border-radius: 2.5rem;
  background: #424651;
  box-shadow: 0 0 50px rgba(0, 0, 0, .4);
}

#sobre-nós p {
  width: fit-content;
}

::-webkit-scrollbar {
  background: #424651;
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border-radius: 5px;
}
